$orange: #fc8b25;
$dark-grey: #2b333e;
$white: #f4f4f4;

body {
  background-color: #2B333E;
  font-family: 'lato', 'sans serif';
}

#app {
  max-width: 768px;

  .btn-u-transac-success {
    background-color: #FC8B25 !important;
    color: white;
  }
}

#header {
  width: 100%;
  height: 60px;
  background-color: $orange;

  .header-logo {
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .branch-type{
    color: #F4F4F4;
    font-size: 10px
  }

  .branch-locator-button {
    width: auto;
    background-color: $white;
    border-radius: 3px;
    .icon {
        width: 37px;
      }

    .title {
      font-weight: 600;
      font-size: 12px;
    }
    .text {
      font-size: 10px;
    }
  }
  .utransac-switch {

    padding-top: 14px;

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

#body {
  .box-choose h4{
    color: white;
  }
  .custom-padding-top {
    padding-top: 23px;
  }
  .header {
    color: white;
  }
  .header-description {
    color: #B0B3B7;
  }
  .box-choose {
    margin-bottom: 30px;
  }
  .border-div {
    border:1px solid #F4F4F4;
  }
  .font-small-white {
    color: white;
  }
  .nearest-container {
    background-color: #F4F4F4;
  }
  .nearest-container-footer {
    background-color: #FC8B25;
    color: white;
    text-decoration: underline;
    padding: 10px;
    margin-top: -20px;
  }
  .number-queue {
    color : #FC8B25;
  }
  .light-font {
    font-weight: 300;
    color: black;
  }
  .list-branches {
    color: #F4F4F4;
    .nearest-container {
      background-color: #2B333E;
    }
    .light-font {
      font-weight: 300;
      color: #F4F4F4;
    }
  }
  .back-container {
    background-color: #39434F;
    padding: 1px 10px 1px 10px;
  }
  .container-form {
    padding: 10px;
    .btn-u-transac-success {
      background-color: #FC8B25 !important;
      color: white;
    }
    .procedure {
      color: #f4f4f4;
    }
  }
  .transact-container-sumary {
    background-color: #F4F4F4;
    color: black;
    padding: 20px;
  }
}
.lastpage {
  padding: 30px;
}

#landing-page {
  max-width: 768px;
  text-align: center;
  background-color: #2B333E;
  .btn-u-transac-success {
    background-color: #FC8B25 !important;
    color: white;
  }
}